@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-background: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    /*--size-border: 0.125rem; */
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    font-family: Outfit;
    font-size: 100%;
    line-height: 1.5rem;
  }
  
  body {
    width: 100%;
    padding: 1rem;
  }
  
  
  main {
    display: flex;
    flex-direction: column;
  }