@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-main-background: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
    --border-edge: 1.0rem;
  }
  
  * {
    margin: 0 auto;
    padding: 0;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
  }

  
  html {
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
  }
  
  body {
    background-color: var(--color-slate-300);
    padding-top: 10%;
  }
  
  main {
    width: fit-content;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1.0rem;
    background-color: var(--color-main-background);
    gap: 1.0rem;
  }

  main, img {
    border-radius: var(--border-edge);
    object-fit: cover;
  }

  h1 {
    font-weight: 700;
    padding-top: 0.5rem;
  }

  h1, h2 {
    color: var(--color-slate-900);
  }

  .attribution {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    gap: inherit;
  }

  .attribution a {
    color: hsl(228, 100%, 18%); 
  }