@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-main-background: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
    --border-edge: 1.0rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
  }

  
  html {
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
  }
  
  body {
    height: 100vh;
    width: 1440px;
    padding: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-slate-500);
  }
  
  main {
    width: 100%;
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    padding: 1.0rem;
    background-color: var(--color-main-background);
    gap: 1.0rem;
  }

  main, img, h1, h2 {
    width: 99%;
  }

  main, img {
    border-radius: var(--border-edge);
  }

  h1 {
    font-weight: 700;
    padding-top: 0.5rem;
  }

  h2 {
    padding-bottom: 1.5rem;
  }

  h1, h2 {
    color: var(--color-slate-900);
  }
